/* ***************************************** */
/* rules for 1088px */
/* ***************************************** */

@media (max-width: 68em) {

  html {
    font-size: 56.25%;
  }
}

/* ***************************************** */
/* rules for 928px */
/* ***************************************** */

@media(max-width: 58em){
  .container {
    margin: 0 10rem;
  }
}

/* ***************************************** */
/* rules for 722px */
/* ***************************************** */

@media (max-width: 45em) {
  .container {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 0 8rem;
  }
}

/* ***************************************** */
/* rules for 512px */
/* ***************************************** */

@media (max-width: 32em) {
  .container {
    margin: 0 4rem;
  }
}
